<div class="container">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Tweedle Mate</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="@routes.MainTools.home()">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li><a href="#">Profile</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="@routes.SignTools.signIn()">Sign In</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Sign Up <span class="caret"></span></a>
						<ul class="dropdown-menu">
						<form action="@routes.SignTools.signUp()" method="post">
							<li><input type="email" id="name" placeholder="email" /></li>
							<li><input type="password" id="password"
								placeholder="password" /></li>
							<li><input type="submit">Connect</input></li>
						</form>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</div>