@(user : User, mine: Boolean)
@import inc.profile._

@main("Profile"){
	<h1>@user.getFirstName's profile</h1>
	<div id="nutshell" class="row">
		<div id="pictureSpace" class="col-md-3">
			<div class="row">
				@forms.formToogable(mine, routes.ProfileTools.actionOnPanelObject("edit","user",0)){
				<div class="toogleDisplay">
					@inc.common.userPicture(user, "l")
				</div>
				}{
				<input type="file" name="picture" />
				}("post","Change Pic","enctype=multipart/form-data", false)
			</div>
			<div class="row">
				@forms.formToogable(mine, routes.ProfileTools.actionOnPanelObject("edit","user",0)){
					<p> IT:
					<span class="toogleDisplay">@user.getIntroductionText</span>
					</p>
				}{
				<textarea row="3" name="IntroductionText" value="@user.getIntroductionText"></textarea>
				}()
			</div>
		</div>
		<div id="nutshellContent" class="col-md-9">
			<dl>
				<dt>First Name</dt>
				<dd>@user.getFirstName</dd>
				<dt>Nationality</dt>
				<dd>
					@forms.formToogable(mine, routes.ProfileTools.actionOnPanelObject("edit","user",0)){
					@if(user.getNationality==null){
					<span class="toogleDisplay">Not referenced</span>
					}else{
					<span class="toogleDisplay">@user.getNationality.getName</span>
					}
					}{
					@if(user.getNationality==null){
						@inc.common.countryForm("nationality","")
					}else{
						@inc.common.countryForm("nationality",user.getNationality.getCode3)
					}
					}("post","Change","",true)
				</dd>
				<dt>Appointment price</dt>
				<dd>
					@forms.formToogable(mine, routes.ProfileTools.actionOnPanelObject("edit","user",0)){
					<span class="toogleDisplay">@user.getAppointmentPrice</span>
					}{
					<input type="text" name="AppointmentPrice" value="@user.getAppointmentPrice" placeHolder="a cofee, a lunch, xx€, xx$ ... "/>
					}("post","Change","",true)
				</dd>
			</dl>
			<ul>
				@if(mine){
				<li><a id="changePersoInfo" href="#" data-toggle="modal" data-target="#myInfo">Change personal info [TODO]</a></li>
				}else{
				<li><a href="@routes.ProfileTools.display(user.getId)">Chat now</a></li>
				<li><a href="#">Make an appointment</a></li>
				}
			</ul>
		</div>
	</div>
	<div id="mainContent" class="row">
		<div id="sidePanel" class="col-md-3 .hidden-sm .hidden-xs">
			side panel
		</div>
		<div id="details" class="col-md-9">
			<div class="row">
				@educationPanel(user.getMyEducation,mine)
				@scholarshipPanel(user.getMyFunding,mine)
				@experiencePanel(user.getMyExperience, mine)
				@workPanel(user.getMyWorkcursus, mine)
			</div>
		</div>
	</div>
	@if(mine){
	<div class="modal fade" id="myInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel">Your contact information (Some CSS pleasse ?)</h4>
	      </div>
	      <div class="modal-body">
	      	<table>
	      		<thead>
	      			<tr>
	      				<th>Type of contact</th>
	      				<th>Details</th>
	      				<th></th>
	      			</tr>
	      		</thead>
	      		<tbody class="contactList">
		      		@for(c<-user.getMyContactsInfo){
					@inc.profile.itemContact(c)
					}
	      		</tbody>
	      	</table>
			<div class="row">
				<form action="@routes.ProfileTools.actionOnPanelObject("add","contact", 0)">
					<div class="col-sm-5">
						<input class="form-control" type="text" name="Type" placeholder="phone, mail, whatsapp, facebook ...">
					</div>
					<div class="col-sm-5 offset-sm-1">
						<input class="form-control"type="text" name="Value" placeholder="details">
					</div>
					<div class="col-sm-">
						<button type="button" class="btn btn-default addContact">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
				</form>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
	      </div>
	    </div>
	  </div>
	</div>
	}
	
}{
	<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.auto-complete.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.versioned("javascripts/toggleForm.js")"></script>
 	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/profile.css")">
}