 @(le: List[Education], mine: Boolean)
@import inc.profile._

@mainPanel("Education"){
	@le.map(e=>
		itemPanel(mine, routes.ProfileTools.actionOnPanelObject("remove","education",e.getId), e.getId)(
			Html(
				 "("+e.getSchool.getId+")"+
				 e.getSchool.getName+","+
				 e.getSchool.getCountry.getName+", for "+
				 e.getDurationMonth+", "+
				 e.getMajor
				 
				 )
		)
	)
}{
	@if(mine){
		@formPanel(routes.ProfileTools.actionOnPanelObject("add","education",0)){
			<p>
				@forms.school()
				<input type="text" placeholder="month spent" name="DurationMonth"/>
				<input type="text" placeholder="Start year" name="StartYear"/>
				<input type="text" placeholder="Promotion" name="Promotion"/>
				<input type="text" placeholder="Major" name="Major"/>
				<input type="checkbox"  name="IsHomeUniversity"/>
				<input type="checkbox" name="IsCurrentEducation"/>
			</p>
		}
	}

}
