@(le: List[WorkCursus], mine: Boolean)
@import inc.profile._

@mainPanel("Work", mine, le){
	<input type="text" placeholder="StartDate" name="StartDate"/>
	<input type="text" placeholder="DurationMonth" name="DurationMonth"/>
	<input type="text" placeholder="Position" name="Position"/>
	<input type="checkbox" name=""IsCurrentWork""/>
	<input type="text" placeholder="CompanyName" name="CompanyName"/>
	@inc.common.countryForm("countryCode3","")
	<input type="text" placeholder="countryCode3" name="countryCode3"/>
	<input type="text" placeholder="City" name="City"/>
}
