@(title: String)(body: Html)
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-3.1.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"></script>
    </head>
    <body>
    	@inc.header
        <div class="container" id="main">
            @body
        </div>
        @inc.footer
    </body>
</html>